@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$font-def:   Arial; 
$font-custom: 'Open Sans', sans-serif; 
$font-icon:   'FontAwesome'; 
$font-size-def: 12px;