@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-def:   Arial; 
$font-custom: 'Roboto', sans-serif; 
$font-icon:   'FontAwesome'; 
$font-size-def: 12px;